/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 1.5rem;
  background-color: #e7e7e7;
  color: #333;
}

hr {
  border: none;
  height: 0.2rem;
  width: 50rem;
  background-color: #333;
}

img {
  display: block;
  max-width: 100%;
}

/* CHOICES */
.choices {
  display: flex;
  gap: 1.3rem;
}

.button-choice {
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  font-size: 2.5rem;
  cursor: pointer;
  transition:
    transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    box-shadow 0.3s ease;
}

.button-choice:hover {
  background-image: linear-gradient(135deg, #ffae00 0%, #6a0dad 100%);
  background-color: #6a0dad;
  box-shadow: 0 0 15px rgba(106, 13, 173, 0.6);
  transform: scale(1.02);
}

.button-choice:active {
  transform: scale(0.92);
  filter: brightness(0.8);
  transition: transform 0.1s ease;
}

/* RESULT CARD */
.result-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 20%;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: bold;
}

.result-card.win {
  background-color: #d5ffd8;
  border: 2px solid #27ae60;
  color: #27ae60;
}

.result-card.lose {
  background-color: #ffebee;
  border: 2px solid #ff3b3b;
  color: #ff3b3b;
}

.result-card.tie {
  background-color: #fff8e1;
  border: 2px solid #ffd446;
  color: #ffae00;
}

.result-image {
  width: 4.2rem;
  height: 4.2rem;
}
